scope: subscriptions
namespace: /service/
name: ${PATRONI_NAME}

restapi:
  listen: 0.0.0.0:8008
  connect_address: ${PATRONI_NAME}:8008

etcd3:
  hosts: etcd-1:2379,etcd-2:2379,etcd-3:2379

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    synchronous_mode: true
    synchronous_mode_strict: false
    synchronous_node_count: 1
    postgresql:
      use_pg_rewind: true
      parameters:
        max_connections: 100
        shared_buffers: 128MB
  initdb:
    - encoding: UTF8
    - data-checksums
    - locale: en_US.UTF-8
    - auth-host: scram-sha-256
    - auth-local: trust
    - username: ${POSTGRES_USER}
  post_bootstrap: /bootstrap/post-bootstrap.sh

postgresql:
  listen: 0.0.0.0:5432
  connect_address: ${PATRONI_NAME}:5432
  data_dir: /var/lib/postgresql/data
  bin_dir: /usr/lib/postgresql/18/bin
  pgpass: /tmp/pgpass
  authentication:
    replication:
      username: replicator
      password: "${POSTGRES_PASSWORD}"
    superuser:
      username: "${POSTGRES_USER}"
      password: "${POSTGRES_PASSWORD}"
  parameters:
    unix_socket_directories: /var/run/postgresql
  pg_hba:
    - local all all trust
    - host all all 0.0.0.0/0 scram-sha-256
    - host all all ::0/0 scram-sha-256
    - host replication replicator 0.0.0.0/0 scram-sha-256
    - host replication replicator ::0/0 scram-sha-256
