global
    maxconn 256

defaults
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend http_in
    mode http
    bind *:8123
    default_backend http_back

backend http_back
    mode http
    option httpchk GET /ping
    http-check expect status 200
    server ch1 clickhouse-1:8123 check
    server ch2 clickhouse-2:8123 check

frontend native_in
    mode tcp
    bind *:9000
    default_backend native_back

backend native_back
    mode tcp
    option httpchk GET /ping
    server ch1 clickhouse-1:9000 check port 8123
    server ch2 clickhouse-2:9000 check port 8123
